{
  "openai": {
    "organisation": "",
    "api_key": ""
  },
  "anthropic": {
    "api_key": ""
  },
  "alephalpha": {
    "api_key": ""
  },
  "huggingface": {
    "api_key": ""
  },
  "cohere": {
    "api_key": ""
  },
  "fastchat_openai": {
    "api_key": "",
    "fastchat_ip": ""
  }
}